<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}

    {% if choice.choice_text == current_choice.choice.choice_text %}
        <input type="radio" name="choice" id="same" value="{{ choice.id }} " checked>
        <label for="same">{{ choice.choice_text }}</label><br>
    {% else %}
        <input type="radio" name="choice" id="not_same" value="{{ choice.id }} ">
        <label for="not_same">{{ choice.choice_text }}</label><br>
    {% endif %}

{% endfor %}
<p>
<input type="submit" value="Vote">
</form>

<a href="{% url 'polls:index' %}">{{ '>> home' }}</a>


