<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>

  <body>
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="margin: 5px" href="/polls">KU Poll</a>
        </div>
          <ul class="nav navbar-nav navbar-left">
              <li><a href="/accounts/login"><button style="width: 70px; height: 35px; margin:-5px -5px;" type="button" class="btn btn-primary">Sign In</button></a></li>
          </ul>
      </div>
    </nav>
      {% block content %}
         <h2>Login</h2>
         <form method="post">
           {% csrf_token %}
           {{ form.as_p }}
           <p>
               <button type="submit">Login</button>
           </p>
               <input type="hidden" name="next" value="{{next}}"/>
         </form>
         {# If you have written a password_reset template, then add #}
         <p>
                <a href="{% url 'password_reset' %}">Forgot password?</a>
         </p>
      {% endblock %}
  </body>
 </html>